{% extends 'solar/base.html' %}

{% block title %}Página Inicial - CRM Solar{% endblock %}

{% block content %}


    <div class="container text-center my-5">
        <!-- Logo -->
        {% load static %}
        <img src="{% static 'images/crm_logo_big.png' %}" alt="Logo CRM Solar" class="img-fluid mb-4" style="max-width: 300px;">

        <!-- Frase de boas-vindas -->
        <h1 class="display-4 text-primary">Bem-vindo, Usuário!</h1>
        <p class="lead text-secondary">Sua licença tem validade até 30 de dezembro de 2025.</p>
        <p class="lead text-secondary">Gerencie seus clientes e projetos de forma simples e eficiente.</p>

    </div>
{% endblock %}
